<div class="container">

<h1>Welcome to Meower</h1>
<p>Meow.</p>

<%= image_tag("http://res.cloudinary.com/ethankhoa/image/upload/v1489577145/catlogo.png.png") %>

<%= link_to('Login', new_user_session_path)  %>
<p>or</p>
<%= link_to('Sign up', new_user_registration_path)  %>
<p>to start Meowing</p>



<p>Here are some Meows from Meowers around the world.</p>


</div>
