// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-container {
  display: flex;
  justify-content: space-around;
}

.titlepage {
display: flex;
}

.title-image img {
    width: auto;
    height: 600px;
    align-content: center;
    text-decoration: none;

}

.titlebutton a {
  color: #fff;
}

.title-item {

}
